.transaction-history {
    text-align: center;
    width: 650px;
    margin: 5px auto;
    border: 1px solid #d8d6d6;
   }
  .Thead th {
    padding: 15px;
    background-color: rgb(32, 206, 236);
    text-transform: uppercase;
    color: #ffffff;
  }
  .Tbody td {
    padding: 15px;
    text-transform: uppercase;
    background-color: rgb(209, 207, 207);
  }